@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;

}


/* SELECTION PAGE */
.book-button{
   background-color: #82C232;
   color: white;  
}
.book-button:hover, .register-button:hover{
    color: white;
    width: 8vw;
}

/*BOOKING PAGE */
.locationsBtn{
    display: none;
}
.locationsBtnShow{
    display: block;
}




