@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

body{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;

}
.banner{
    background-image: url(../assets/about-us.jpg);
    background-size: cover;
    height: 100vh;
}
.rectangle{
    height: 80vh;
    width: 50vh;
    background-color: rgba(255, 255, 255, 0.5);
    color: seagreen;
}
.pro img{
    border-radius: 50%;
    width: 20%;
}



